.contact{
    background-color: white !important;
}
.contact h3{
    color: black;
     text-align: center;
     font-size: 40px;
padding-top: 25px;
margin-bottom: 15px;
    }
.contact img{
    width: 30px;
}
.contact_wrapper{
    text-align: start;
    width: 23%;
    margin: 0 auto;
    font-size: 30px;
    }
.contact_qator{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
text-align: start;
}
.contact_qator span{
    font-size: 25px;
    color: black;

}
.contact_qator span{
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;

}
.anker{
    display: flex;
align-items: center;
justify-content: center;
gap: 30px;
}
.contact a{
    color: black;
margin-left: 10px;
margin-bottom: 50px;
margin-top: 10px;
}
@media (max-width:800px) {
    .contact_wrapper{
    width: 33%;

    }
}
@media (max-width:650px) {
.contact_wrapper{
    width: 43%;
}
}
@media (max-width:600px) {
.contact_wrapper{
    width: 60%;
}
}
@media (max-width:550px) {
    .contact_wrapper{
        width: 70%;
    }
}
@media (max-width:510px) {
    .contact_wrapper{
        width: 100%;
    }
}
@media (max-width:450px) {
.contact_wrapper span{
font-size: 15px;
}
}