.header{
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 18px 10px 30px 10px  ;
    padding-top: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: transparent;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header_wrapper a{
    text-decoration: none;
}
.header_logo  h3 {
    font-weight: 700;
    animation: moveGradient 6s linear infinite;
      background: linear-gradient(90deg, #2a2828, #fff, #60f);
      background-clip: text;
      -webkit-background-clip: text;
      background-size: 300% 100%;
      color: #0000;;
      display: inline-block;
      font-family: var(--font-family);
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
text-decoration: none;
font-size: 30px;
}
.header_logo a{
    text-decoration: none !important;

}
.header_wrapper ul{
display: flex;
align-items: center;
justify-content: space-between;
gap: 10px;
color: white;

}
.header_wrapper ul a{
    color: white;

}
.header_wrapper ul li{
    cursor: pointer;
    list-style: none;
    font-weight: 500;
    animation: moveGradient 6s linear infinite;
    background: linear-gradient(90deg, #2a2828, #fff, #60f);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 300% 100%;
    color: #0000;;
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.modal{
    position: fixed;
    inset: 0;
    background-color: black;
    z-index: 5;
    transform: translateY(-2000px);
    transition: 500ms;
    display: none;
}
.show{
    transform: translateY(0px);
    transition: 500ms;
}
.clos img{
    width: 50px;
    height:50px;
    cursor: pointer;
    position: fixed;
    top: 10px;
 right: 10px;
}
.modal_contant ul  {
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
    gap: 20px; 
    width: 100%;
    margin-top: 250px;
    list-style: none;
    text-decoration: none;
    
}
.modal_contant ul a li{
    font-weight: 700;
    animation: moveGradient 6s linear infinite;
      background: linear-gradient(90deg, #2a2828, #fff, #60f);
      background-clip: text;
      -webkit-background-clip: text;
      background-size: 300% 100%;
      color: #0000;;
      display: inline-block;
      font-family: var(--font-family);
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
text-decoration: none;
font-size: 25px;

}
.modal_div a h3{
    font-weight: 700;
    animation: moveGradient 6s linear infinite;
      background: linear-gradient(90deg, #2a2828, #fff, #60f);
      background-clip: text;
      -webkit-background-clip: text;
      background-size: 300% 100%;
      color: #0000;;
      display: inline-block;
      font-family: var(--font-family);
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
text-decoration: none;
font-size: 25px;
}
.burger{
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}
.modal_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width:750px) {
    .header_logo a h3{
     font-size: 20px;   
    }
}
@media (max-width:540px) {
    .burger{
        display: block;

    }
    .header_contant{
        display: none;
    }
    .modal{
        display: block;
    }
}